<mat-accordion>
    <mat-expansion-panel 
    (opened)="panelOpenState=true"
    (closed)="panelOpenState=false"
    *ngFor="let book of books">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{book.author}}</p>
      </mat-expansion-panel>
  </mat-accordion>
  